.fibonacci_body,
.factorial_body {
    text-align: center;
    margin: 30px;
    background-color: black;
    font-size: 18px;
    color: white;
    letter-spacing: 2px;
  }

  h1 {
    font-size: 4rem;
  }

  #output,
  #factorialOutput {
    text-align: center;
    width: 100%;
    margin: auto;
    margin-bottom: 40px;
  }

  .fiboNum,
  .factNum {
    border: none;
    text-align: center;
    color: white;
    background-blend-mode: lighten;
    background-color: #242424;
  }

  table{
    margin-top: 70px;
    border-collapse: collapse;
  }