.fibonacci_body {
    text-align: center;
    margin: 30px;
    background-color: black;
    font-size: 18px;
    font-family: "Source Sans Pro", sans-serif;
    color: white;
    letter-spacing: 2px;
  }

  h1 {
    font-family: "Nanum Brush Script", cursive;
    font-size: 4rem;
  }

  #output {
    text-align: center;
    width: 100%;
    margin: auto;
    margin-bottom: 40px !important;
  }

  .fiboNum {
    border: none;
    text-align: center;
    color: white;
    background-blend-mode: lighten;
    background-color: #242424;
  }